.VueTables__search-field {
	display: none;
}

thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 110px;
    background: white;
    z-index: 10;
    padding: 10px;
    min-width: 50px;
}

.VueTables__sortable {
  cursor: pointer;
}

.glyphicon-chevron-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  bottom: 5px;
}

.glyphicon-chevron-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.glyphicon-sort {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.glyphicon {
  position: relative;
  display: inline-block;
  left: 5px;
}